section.page.reddits
 div.container
    div.row
     div.col-xs-4
     div.col-xs-4
       div.input-group.span7.center
         span Search
         input.form-control(type='text', role='searchbox')
     div.col-xs-4
 div.container
    div.row
       div.col-xs-6.col-sm-3
          ul.list-group.list-unstyled(role='reddits')
       div.col-xs-6.col-sm-3
          ul.list-group.list-unstyled(role='reddits2')
       div.clearfix.visible-xs
       div.col-xs-6.col-sm-3
          ul.list-group.list-unstyled(role='reddits3')
       div.col-xs-6.col-sm-3
          ul.list-group.list-unstyled(role='reddits4')
