li.reddit.list-group-item
    P
        span
            span(role='title')
    p
        img(role='thumbnail', width='40', height='40')
    p
        span 'Author: '
            span(role='author')
    P
        span 'Subreddit: '
            span(role='subreddit')
    div.link
        a(role='url', target='_blank') Link
