li.reddit
    div.panel.panel-primary
        div.panel-heading
            span(role='subreddit')
        div.panel-body
            p
                span
                    span(role='title')
            p
               a(role='url', target='_blank')
                    img(role='thumbnail', width='40', height='40')
            p
                span Author:&nbsp
                    span(role='author')
            p
                span Subreddit:&nbsp
                    span(role='subreddit')
            div.panel-footer
                div.link
                    a(role='url', target='_blank') Link
